.spa-content {
  background: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.panel-1 {
  min-height: 100%;
  background: blue;
  color: white;
  padding: 1em;
}

.panel-2 {
  min-height: 100%;
  background: red;
  color: white;
  padding: 1em;
}
