<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lodashhhh!</title>
    <style>
      body {
        font-family: sans-serif;
        line-height: 1.4em;
      }

      .tech {
        background: #EEE;
        margin-bottom: 0.5em;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <div id="main-content">

    </div>

    <script id="header" type="text/html">
      <h1>Hello, <%- m.name %></h1>
    </script>

    <script id="body" type="text/html">
      <%= tpl.header({ name: m.user }) %>
      <p>How are you, <%- m.today %>?</h1>
      <% m.tech.forEach(function (tech) { %>
        <div class="tech">
          <%- tech.name %>
        </div>
      <% }); %>
    </script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="js/lodash-test.js"></script>
  </body>
</html>
